body{ 
    background-color: rgb(231, 210, 175);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    background-color: rgb(91, 154, 156);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
    background-color: rgb(165, 241, 216);
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
td{
    text-align: center;
}

.topnav a:hover {
    background-color: rgb(206, 173, 133);
    color: aqua;
}
.topnav a {
    float: left;
    font-size: larger;
    display: block;
    color: rgb(49, 38, 23);
    text-align: center;
    padding: auto;
    
}
.topnav {
    overflow: hidden;
    background-color: rgb(126, 170, 155);
    text-align: center;
}


.footer {
    padding: 30px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    background-attachment: fixed;
}